<main>

  <div class=" pos_bannerslide">
    <div class="slideshow_container" data-speed="600" data-time="6000" data-nav="false" data-pag="true"
      data-pausehover="hover">
      <div class="pos-slideshow">
        <div class="flexslider ma-nivoslider">
          <div id="pos-slideshow-home" class="slides">
            {{#each bannerTop}}
            <a href="" title="slide show1"><img style="display:none" src="/images/Banner/{{this.img}}"
                title="#htmlcaption1" /> </a>
            {{/each}}
          </div>

          <div id="htmlcaption1" class="pos-slideshow-caption nivo-html-caption nivo-caption">
            <div class="timethai" style=" 
								position:absolute;
								top:0;
								left:0;
								z-index:8;
								background-color: rgba(49, 56, 72, 0.298);
								height:5px;
								-webkit-animation: myfirst 6000ms ease-in-out;
								-moz-animation: myfirst 6000ms ease-in-out;
								-ms-animation: myfirst 6000ms ease-in-out;
								animation: myfirst 6000ms ease-in-out;
							
							">
            </div>

          </div>
        </div>
      </div>

      {{!--
      <script type="text/javascript">
        $(document).ready(function () {
          //Function to animate slider captions 
          function doAnimations(elems) {
            //Cache the animationend event in a variable
            var animEndEv = 'webkitAnimationEnd animationend';

            elems.each(function () {
              var $this = $(this),
                $animationType = $this.data('animation');
              $this.addClass($animationType).one(animEndEv, function () {
                $this.removeClass($animationType);
              });
            });
          }
          //Variables on page load 
          var $myCarousel = $('.ma-nivoslider'),
            $firstAnimatingElems = $myCarousel.find('.nivo-caption').find("[data-animation ^= 'animated']");
          //Animate captions in first slide on page load 
          doAnimations($firstAnimatingElems);

        });
      </script> --}}
      <div class="home-banner">
        <div class="row">
          <div class="col col-md-4 col-sm-12  col-xs-12">
            <div class="banner-box"><a href="#"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/1_1.jpg"
                  alt="" /></a></div>
          </div>
          <div class="col col-md-4 col-sm-12 col-xs-12">
            <div class="banner-box"><a href="#"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/2_1.jpg"
                  alt="" /></a></div>
            <div class="banner-box"><a href="#"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/3_1.jpg"
                  alt="" /></a></div>
          </div>
          <div class="col col-md-4 col-sm-12  col-xs-12">
            <div class="banner-box"><a href="#"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/4_1.jpg"
                  alt="" /></a></div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <aside id="notifications">
    <div class="container">



    </div>
  </aside>


  <div class="breadcrumb_container " data-depth="1">
    <div class="container">
      <nav data-depth="1" class="breadcrumb">
        <ol itemscope itemtype="http://schema.org/BreadcrumbList">


          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="/">
              <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1">
          </li>


        </ol>
      </nav>
    </div>
  </div>


  <div id="wrapper">
    <div class="container">
      <div class="row">
        <div id="content-wrapper" class="col-xs-12">
          <section id="main">
            <section id="content" class="page-home">
              <div class="pos_new_product  product_block_container" data-items="4" data-speed="1000" data-autoplay="0"
                data-time="3000" data-arrow="1" data-pagination="0" data-move="1" data-pausehover="0" data-lg="4"
                data-md="3" data-sm="2" data-xs="2" data-xxs="1">
                <div class="pos_title">
                  <h2>
                    New Arrivals
                  </h2>
                  <div class="desc_title">
                    Add new products to weekly line up
                  </div>

                </div>
                <section>
                  {{!-- ****** --}}
                  <div class="container mt-5">
                    <div class="row g-4">
                      {{#each products}}
                      <div class="item-product col-md-3">
                        <!-- style products default -->
                        <article class="product-miniature js-product-miniature style_product3" data-id-product="17"
                          data-id-product-attribute="109" itemscope itemtype="http://schema.org/Product">
                          <div class="img_block">

                            <a href="/product-view?id={{this._id}}" class="thumbnail product-thumbnail">
                              <img class="first-image" src="/images/{{this.img.[0]}}"
                                alt="Originals Kaval Windbreaker..." data-full-size-image-url="">
                              <img class="img-responsive second-image animation8" src="/images/{{this.img.[2]}}" alt=""
                                itemprop="image" />

                            </a>

                            <ul class="add-to-links">
                              {{!-- <li class="cart">
                                <div class="product-add-to-cart">
                                <a class="addToWishlist wishlistProd_17" id="Wishlist007" title="Add to wishlist" data-rel="17"
                                  onclick="addToWishList('{{this._id}}')">
                                  <i class="fa-solid fa-heart"></i>
                                  Add to wishlist
                                </a>
                                </div>
                              </li> --}}
                              <li class="cart">
                                <div class="product-add-to-cart">
                                  <button class="rounded-circle "
                                    onclick="addToWishList('{{this._id}}')" style="width: 40px; height: 40px;">
                                  <i class="fa-regular fa-heart"></i>
                                  </button>
                                </div>
                              </li>
                              {{!-- <li class="">
                                <div class="product-add-to-cart">
                                  <a class="quick_view" href="/product-view?id={{this._id}}" title="Quick view">
                                    <i class="fa-regular fa-magnifying-glass"></i>
                                    <span>Quick view</span>
                                  </a>
                                </div>

                              </li> --}}
                              <li class="cart">
                                <div class="product-add-to-cart">
                                  <button class="rounded-circle "
                                    onclick="addToCart('{{this._id}}')" style="width: 40px; height: 40px;">
                                    <i class="fa fa-shopping-cart"></i>
                                  </button>
                                </div>
                              </li>
                            </ul>

                            <ul class="product-flag">
                              <li class="discount"><span></span></li>
                              <li class="new"><span>New</span></li>
                            </ul>

                          </div>
                          <div class="product_desc">

                            <div class="manufacturer"><a href="">{{this.Category}}
                              </a></div>

                            <h3 itemprop="name"><a href="" class="product_name one_line"
                                title="Originals Kaval Windbreaker Winter Jacket 2">{{this.Name}}
                              </a></h3>


                           


                            <div class="product-price-and-shipping">


                              <span class="sr-only">Regular price</span>
                              <span class="regular-price">₹{{this.Price}}</span>



                              <span class="sr-only">Price</span>
                              <span itemprop="price" class="price price-sale">₹{{this.Offers.DiscountPrice}}</span>



                              <span class="discount-percentage discount-product">-{{this.Offers.Discount}}%</span>
                            </div>

                            <div class="availability">
                              <div class="availability-list in-stock">Availability: <span>200 In Stock</span></div>

                            </div>



                          </div>
                        </article>
                      </div>
                      {{/each}}
                    </div>

                  </div>
                  {{!-- ////// --}}
                  {{!-- For carousel sliding --}}
                  {{!-- <div class="pos_content ">
                    <div class="newSlide owl-carousel">
                      {{#each products}}
                      <div class="item-product ">
                        <!-- style products default -->
                        <article class="product-miniature js-product-miniature style_product3" data-id-product="17"
                          data-id-product-attribute="109" itemscope itemtype="http://schema.org/Product">
                          <div class="img_block">

                            <a href="" class="thumbnail product-thumbnail">
                              <img class="first-image" src="/images/{{this.img.[0]}}"
                                alt="Originals Kaval Windbreaker..." data-full-size-image-url="">
                              <img class="img-responsive second-image animation8" src="/images/{{this.img.[2]}}" alt=""
                                itemprop="image" />

                            </a>

                            <ul class="add-to-links">
                              <li>

                                <a class="addToWishlist wishlistProd_17" title="Add to wishlist" href="#" data-rel="17"
                                  onclick="WishlistCart('wishlist_block_list', 'add', '17', false, 1); return false;">
                                  Add to wishlist
                                </a>


                              </li>
                              <li class="compare">
                                <a href="#" class="poscompare-add compare-button js-poscompare-add" data-id_product="17"
                                  onclick="posCompare.addCompare($(this),17); return false;"
                                  title="Add to compare"><span>Add to compare</span></a>
                              </li>
                              <li class="quick-view">

                                <a class="quick_view" href="#" data-link-action="quickview" title="Quick view">
                                  <span>Quick view</span>
                                </a>

                              </li>
                              <li class="cart">
                                <div class="product-add-to-cart">
                                  <form action="" method="post" class="add-to-cart-or-refresh">
                                    <input type="hidden" name="token" value="203b2fb46b107eabda9dd64ae8ebc173">
                                    <input type="hidden" name="id_product" value="17" class="product_page_product_id">
                                    <input type="hidden" name="qty" value="1">
                                    <button class="button ajax_add_to_cart_button add-to-cart btn-default"
                                      data-button-action="add-to-cart" type="submit">
                                      <i class="fa fa-shopping-cart"></i> Add to cart
                                    </button>
                                  </form>
                                </div>
                              </li>
                            </ul>

                            <ul class="product-flag">
                              <li class="discount"><span>-10%</span></li>
                              <li class="new"><span>New</span></li>
                            </ul>

                          </div>
                          <div class="product_desc">

                            <div class="manufacturer"><a href="">{{this.Category}}
                              </a></div>

                            <h3 itemprop="name"><a href="" class="product_name one_line"
                                title="Originals Kaval Windbreaker Winter Jacket 2">{{this.Name}}
                              </a></h3>


                            <div class="hook-reviews">
                              <div class="comments_note" itemprop="aggregateRating" itemscope itemtype="">
                                <div class="star_content clearfix">
                                  <div class="star star_on"></div>
                                  <div class="star star_on"></div>
                                  <div class="star star_on"></div>
                                  <div class="star star_on"></div>
                                  <div class="star star_on"></div>
                                  <meta itemprop="worstRating" content="0" />
                                  <meta itemprop="ratingValue" content="5" />
                                  <meta itemprop="bestRating" content="5" />
                                </div>
                                <span class="nb-comments"><span itemprop="reviewCount">1</span> Review(s)</span>
                              </div>

                            </div>


                            <div class="product-price-and-shipping">


                              <span class="sr-only">Regular price</span>
                              <span class="regular-price">$23.90</span>



                              <span class="sr-only">Price</span>
                              <span itemprop="price" class="price price-sale">{{this.Price}}</span>



                              <span class="discount-percentage discount-product">-10%</span>
                            </div>

                            <div class="availability">
                              <div class="availability-list in-stock">Availability: <span>200 In Stock</span></div>

                            </div>

                            <div class="product-desc" itemprop="description">
                              <ul>
                                <li>
                                  <div>Block out the haters with the fresh adidas® Originals Kaval Windbreaker Jacket.
                                  </div>
                                </li>
                                <li>
                                  <div><em>Part of the Kaval Collection.</em></div>
                                </li>
                                <li>
                                  <div>Regular fit is eased, but not sloppy, and perfect for any activity.</div>
                                </li>
                                <li>
                                  <div>Plain-woven jacket specifically constructed for freedom of movement.</div>
                                </li>
                              </ul>
                            </div>


                            <div class="variant-links">

                              <div class="variant-links">
                                <a href="" class="color" title="White" style="background-color: #ffffff"><span
                                    class="sr-only">White</span></a>
                                <a href="" class="color" title="Black" style="background-color: #434A54"><span
                                    class="sr-only">Black</span></a>
                                <span class="js-count count"></span>
                              </div>

                            </div>

                          </div>
                        </article>
                      </div>
                      {{/each}}
                    </div>
                  </div> --}}
                  {{!-- For carousel sliding --}}
                </section>
            </section>
        </div>
      </div>
    </div>

    {{!-- Bottom banner --}}

    <div class="home-banner static-banner">

      <img src="/images/Banner/{{bannerBottom.[0].img}}" alt="" class="img-responsive" />

    </div>


    {{!-- /Banner bottom --}}

    <div class="testimonials_container">
      <div class="container">
        <div class=" row pos_content">
          {{!-- For categorry section --}}

          <section>
            <div class="pos_title">
              <h2>
                All categorrys
              </h2>
              <div class="desc_title mb-5">
              </div>
            </div>
            <div class="container">
              {{#each category}}
              <div class="col-md-3">
                <div class=" bg-image hover-zoom ripple shadow-1-strong rounded">

                  <a href="/category/?Name={{this.Name}}"> <img src="/images/{{this.img}}" class="w-70" /></a>
                </div>
              </div>
              {{/each}}


            </div>
        </div>
        </section>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      var testi = $(".testimonialsSlide");
      testi.owlCarousel({
        autoplay: true,
        autoplayHoverPause: true,
        smartSpeed: 1000,
        nav: false,
        dots: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1
          },
          480: {
            items: 1
          },
          768: {
            items: 1
          },
          992: {
            items: 1
          },
          1200: {
            items: 1
          }
        }
      });
      $(".testimonials_container .thumb li:first").addClass('active');
      testi.on('translated.owl.carousel', function (event) {
        x = $(".testimonials_container .owl-item").index($(".testimonials_container .testimonialsSlide .active"));

        var testithumb = ".testithumb" + x;
        $(".testimonials_container .thumb li").removeClass('active');
        $(testithumb).addClass('active');
      });

    });
    function testislider(x) {
      var testi = $(".testimonialsSlide");
      testi.trigger("to.owl.carousel", [x, 500, true]);


    }

  </script>



    <div class="pos_logo product_block_container">
      <div class="row pos_content">
        <div class="logo-slider owl-carousel">
          <div>
            <div class="item-banklogo">
              <a href="http://posthemes.com/">
                <img class="replace-2x img-responsive"
                  src="http://demo.posthemes.com/pos_ecolife_fashion/img/blocklogo/1.jpg" alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="http://posthemes.com/">
                <img class="replace-2x img-responsive"
                  src="http://demo.posthemes.com/pos_ecolife_fashion/img/blocklogo/2.jpg" alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="http://posthemes.com/">
                <img class="replace-2x img-responsive"
                  src="http://demo.posthemes.com/pos_ecolife_fashion/img/blocklogo/3.jpg" alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="http://posthemes.com/">
                <img class="replace-2x img-responsive"
                  src="http://demo.posthemes.com/pos_ecolife_fashion/img/blocklogo/4.jpg" alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="http://posthemes.com/">
                <img class="replace-2x img-responsive"
                  src="http://demo.posthemes.com/pos_ecolife_fashion/img/blocklogo/5.jpg" alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="http://posthemes.com/">
                <img class="replace-2x img-responsive"
                  src="http://demo.posthemes.com/pos_ecolife_fashion/img/blocklogo/6.jpg" alt="Logo" />
              </a>
            </div>
          </div>
          <div>
            <div class="item-banklogo">
              <a href="http://posthemes.com/">
                <img class="replace-2x img-responsive"
                  src="http://demo.posthemes.com/pos_ecolife_fashion/img/blocklogo/7.jpg" alt="Logo" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    

  </div>


  </div>

  <footer id="footer">

    <div class="footer-container">
      <div class="footer_top">
        <div class="container">
          <div class="row">

            <div class="col-md-4 links footer_block">
              <div class="footer_about_us">
                <div class="logo_footer"><a href="#"><img src="/Logo/Logo2.svg" alt="" /></a></div>
                <div class="desc_info">
                  <p class="txt_info">.</p>
                  <div class="need_help">
                    <p>NEED HELP?</p>
                    <p class="phone"> (+91) 7356122587</p>
                  </div>
                </div>
              </div>

              <div class="col-footer social_follow ">
                <ul>
                  <li class="facebook"><a href="" target="_blank">Facebook</a></li>
                  <li class="twitter"><a href="" target="_blank">Twitter</a></li>
                  <li class="youtube"><a href="" target="_blank">YouTube</a></li>
                  <li class="googleplus"><a href="" target="_blank">Google +</a></li>
                  <li class="instagram"><a href="" target="_blank">Instagram</a>
                  </li>
                </ul>
              </div>


            </div>
            <div class="col-md-2 links footer_block">
              <h3 class=" hidden-sm-down">Information</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_2" data-toggle="collapse">
                <h3>Information</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <ul id="footer_2" class="collapse footer_list">

                <li>
                  <a id="link-cms-page-1-2" class="cms-page-link" href="content/1-delivery.html"
                    title="Our terms and conditions of delivery">
                    Delivery
                  </a>
                </li>

                <li>
                  <a id="link-cms-page-4-2" class="cms-page-link" href="content/4-about-us.html"
                    title="Learn more about us">
                    About us
                  </a>
                </li>

                <li>
                  <a id="link-cms-page-5-2" class="cms-page-link" href="content/5-secure-payment.html"
                    title="Our secure payment method">
                    Secure payment
                  </a>
                </li>

                <li>
                  <a id="link-static-page-contact-2" class="cms-page-link" href="contact-us.html"
                    title="Use our form to contact us">
                    Contact us
                  </a>
                </li>

                <li>
                  <a id="link-static-page-sitemap-2" class="cms-page-link" href="sitemap.html"
                    title="Lost ? Find what your are looking for">
                    Sitemap
                  </a>
                </li>

                <li>
                  <a id="link-static-page-stores-2" class="cms-page-link" href="stores.html" title="">
                    Stores
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-2 links footer_block">
              <h3 class=" hidden-sm-down">Custom Links</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_3" data-toggle="collapse">
                <h3>Custom Links</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <ul id="footer_3" class="collapse footer_list">

                <li>
                  <a id="link-cms-page-2-3" class="cms-page-link" href="content/2-legal-notice.html"
                    title="Legal notice">
                    Legal Notice
                  </a>
                </li>

                <li>
                  <a id="link-product-page-prices-drop-3" class="cms-page-link" href="prices-drop.html"
                    title="Our special products">
                    Prices drop
                  </a>
                </li>

                <li>
                  <a id="link-product-page-new-products-3" class="cms-page-link" href="new-products.html"
                    title="Our new products">
                    New products
                  </a>
                </li>

                <li>
                  <a id="link-product-page-best-sales-3" class="cms-page-link" href="best-sales.html"
                    title="Our best sales">
                    Best sales
                  </a>
                </li>

                <li>
                  <a id="link-static-page-authentication-3" class="cms-page-link" href="login.html" title="">
                    Login
                  </a>
                </li>

                <li>
                  <a id="link-static-page-my-account-3" class="cms-page-link" href="loginfd9a.html" title="">
                    My account
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 links footer_block">
              <h3 class=" hidden-sm-down">Newsletter</h3>
              <div class="title clearfix hidden-md-up" data-target="#footer_4" data-toggle="collapse">
                <h3>Newsletter</h3>
                <span class="float-xs-right">
                  <span class="navbar-toggler collapse-icons">
                    <i class="material-icons add">keyboard_arrow_down</i>
                    <i class="material-icons remove">keyboard_arrow_up</i>
                  </span>
                </span>
              </div>
              <div id="footer_4" class="collapse footer_list">
                <div class="img_app"><a href="#"><img
                      src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/app_store.png" alt="" /></a> <a
                    href="#"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/google_play.png"
                      alt="" /></a></div>
                <div class="ft_newsletter col-footer">
                  <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal
                    notice.</p>
                  <div class="col col_form">
                    <form action="http://demo.posthemes.com/pos_ecolife_fashion/en/#footer" method="post">
                      <input class="btn btn-primary" name="submitNewsletter" type="submit" value="Sign up">
                      <div class="input-wrapper">
                        <input name="email" type="email" value="" placeholder="Your email address">
                      </div>
                      <input type="hidden" name="action" value="0">
                      <div class="clearfix"></div>

                    </form>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="container">
          <div class="row">

            <div class="col-md-4 links footer_block">
              <div class="copyright">Copyright © <a href="http://posthemes.com/">Posthemes</a>. All Rights Reserved
              </div>
            </div>
            <div class="col-md-8 links footer_block">
              <div class="payment"><img src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/payment.png"
                  alt="" /></div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </footer>

</main>
<div class="back-top"><a href="#" class="back-top-button"></a></div>

<script type="text/javascript"
  src="/javascripts/homesomthing.js"></script>





<div id="poscompare-notification" class="">
  <div class="notification-inner">
    <span class="notification-title"><i class="fa fa-check" aria-hidden="true"></i> Product added to compare.</span>
  </div>
</div>