<aside id="notifications">
	<div class="container">



	</div>
</aside>





<div id="wrapper">

	<div class="container">
		<div class="row">



			<div id="content-wrapper" class="col-xs-12">
				{{#if products}}
				<section id="main" itemscope itemtype="https://schema.org/Product">
					<meta itemprop="url"
						content="http://demo.posthemes.com/pos_ecolife_fashion/en/fashion/2-9-juicy-couture-juicy-quilted-terry-track-jacket.html#/1-size-s">

					<div class="row">
						<div class="col-md-6 ">
							<section class="page-content" id="content">
								{{!--Product image here --}}
								<div class="container container-fluid" style="min-height: 100vh;">
									<div class="">
										<div class="">
											<div class=" ms-5 p-2 col-md-12">
												<div class="zoom mx-auto" id="img-container">
													<img class="big_img" src="/images/{{products.img.[0]}}">
												</div>
											</div>
										</div>
										{{!-- Here --}}
										<div class="row pos_content ms-5 p-2 col-md-12">
											<div class="product_categoryslide owl-carousel">

												<!-- style products default -->
												{{#each products.img}}

												<article class="product-miniature js-product-miniature style_product3"
													style="width: 95px;" data-id-product="7"
													data-id-product-attribute="0" itemscope
													itemtype="http://schema.org/Product">
													<div class="img_block">

														<a class="thumbnail product-thumbnail">
															<img class="small_img" src="/images/{{this}}" alt="Hold on"
																data-full-size-image-url="">

														</a>
													</div>
												</article>
												{{/each}}
											</div>
										</div>







									</div>
								</div>

							</section>

						</div>
						<div class="col-md-6 ">
							<div class="content_info">


								<h1 class="h1 namne_details" itemprop="name">{{products.Name}}</h1>


								<p class="reference">Reference:<span> demo_3</span></p>
								<div id="product_comments_block_extra" class="no-print" itemprop="aggregateRating"
									itemscope itemtype="https://schema.org/AggregateRating">
									<div class="comments_note clearfix">
										<span>Rating&nbsp;</span>
										<div class="star_content clearfix">

											<div class="star star_on"></div>

											<div class="star star_on"></div>

											<div class="star star_on"></div>

											<div class="star star_on"></div>

											<div class="star star_on"></div>
											<meta itemprop="worstRating" content="0" />
											<meta itemprop="ratingValue" content="5" />
											<meta itemprop="bestRating" content="5" />
										</div>
									</div> <!-- .comments_note -->

									<ul class="comments_advices">
										<li>
											<a href="#idTab5" class="reviews">
												Read reviews (<span itemprop="reviewCount">1</span>)
											</a>
										</li>
										<li>
											<a class="open-comment-form">
												Write a review
											</a>
										</li>
									</ul>
								</div>
								<!--  /Module ProductComments -->


								<div class="product-prices">

									<div class="product-discount">

										<span class="regular-price">&#8377;{{products.Price}}</span>
									</div>



									<div class="product-price h5 has-discount" itemprop="offers" itemscope
										itemtype="https://schema.org/Offer">
										<link itemprop="availability" href="https://schema.org/InStock" />
										<meta itemprop="priceCurrency" content="EUR">

										<div class="current-price">
											<span itemprop="price" content="34.11">&#8377;{{products.Offers.DiscountPrice}}</span>

											<span class="discount discount-percentage">Save 5%</span>
										</div>



									</div>













									<div class="tax-shipping-delivery-label">


									</div>
								</div>


								<div class="product-information">

									<div id="product-description-short-2" class="product-description-short"
										itemprop="description">
										<ul>
											<li>
												<div>Score extra points when it comes to your sporty look with
													the Juicy Couture™ Juicy Quilted Terry Track Jacket.</div>
											</li>
											<li>
												<div>Soft terry construction in a quilted design.</div>
											</li>
											<li>
												<div>Front zipper closure.</div>
											</li>
											<li>
												<div>61% cotton, 39% polyester;<br />Lining: 58% cotton, 42%
													polyester.</div>
											</li>
										</ul>
									</div>



									<div class="product-actions">

										<form action="/add-to-cart"
											method="post" id="add-to-cart-or-refresh">
											{{!-- <input type="hidden" name="token" value="">
											<input type="hidden" name="id_product" value="2"
												id="product_page_product_id">
											<input type="hidden" name="id_customization" value="0"
												id="product_customization_id"> --}}


											<div class="product-variants">
												<div class="clearfix product-variants-item">
													<span class="control-label">Size</span>
													<select class="form-control form-control-select" id="group_1"
														data-product-attribute="1" name="Size">
														<option value="1" title="S" selected="selected">S
														</option>
														<option value="2" title="M">M</option>
														<option value="3" title="L">L</option>
														<option value="4" title="XL">XL</option>
													</select>
												</div>
											</div>






											<section class="product-discounts">
											</section>



											<div class="product-add-to-cart">
												<span class="control-label">Quantity</span>


												<div class="product-quantity clearfix">
													<div class="qty">
														<input type="text" name="Quantity" id="quantity_wanted" value="1"
															class="input-group" min="1" aria-label="Quantity">
													</div>

													<div class="">
														<button class="btn btn-primary add-to-cart"
															 onclick="addToCart('{{products._id}}')">
															<i class="material-icons shopping-cart">&#xE547;</i>
															Add to cart
														</button>
													</div>
												</div>



												<span id="product-availability">
												</span>



												<p class="product-minimal-quantity">
												</p>

											</div>



											<div class="product-additional-info">

												<div class="social-sharing">
													<span>Share</span>
													<ul>
														<li class="facebook"><a
																href="http://www.facebook.com/sharer.php?u=http://demo.posthemes.com/pos_ecolife_fashion/en/fashion/2-juicy-couture-juicy-quilted-terry-track-jacket.html"
																title="Share" target="_blank">Share</a></li>
														<li class="twitter"><a
																href="https://twitter.com/intent/tweet?text=Juicy%20Couture%20Juicy%20Quilted%20Terry%20Track%20Jacket%20http://demo.posthemes.com/pos_ecolife_fashion/en/fashion/2-juicy-couture-juicy-quilted-terry-track-jacket.html"
																title="Tweet" target="_blank">Tweet</a></li>
														<li class="googleplus"><a
																href="https://plus.google.com/share?url=http://demo.posthemes.com/pos_ecolife_fashion/en/fashion/2-juicy-couture-juicy-quilted-terry-track-jacket.html"
																title="Google+" target="_blank">Google+</a></li>
														<li class="pinterest"><a
																href="http://www.pinterest.com/pin/create/button/?media=http://demo.posthemes.com/pos_ecolife_fashion/369/juicy-couture-juicy-quilted-terry-track-jacket.jpg&amp;url=http://demo.posthemes.com/pos_ecolife_fashion/en/fashion/2-juicy-couture-juicy-quilted-terry-track-jacket.html"
																title="Pinterest" target="_blank">Pinterest</a>
														</li>
													</ul>
												</div>

												<p class="panel-product-line panel-product-actions">
													<button href="#"
														class="poscompare-add compare-button js-poscompare-add"
														data-id_product="2" ;
														onclick="posCompare.addCompare($(this),2); return false;"
														title="Add to compare"><i class="ion-ios-shuffle-strong"></i>Add
														to
														compare</button>
												</p>
												<p class="panel-product-line panel-product-actions">
													<a id="wishlist_button" href="#"
														onclick="WishlistCart('wishlist_block_list', 'add', '2', $('#idCombination').val(), document.getElementById('quantity_wanted').value); return false;"
														rel="nofollow" title="Add to my wishlist">
														<i class="ion-android-favorite-outline"></i>Add to
														wishlist
													</a>
												</p>

											</div>



										</form>


									</div>


									<div id="block-reassurance">
										<ul>
											<li>
												<div class="block-reassurance-item">
													<img src="http://demo.posthemes.com/pos_ecolife_fashion/modules/blockreassurance/img/ic_verified_user_black_36dp_1x.png"
														alt="Security policy (edit with Customer reassurance module)">
													<span class="h6">Security policy (edit with Customer
														reassurance module)</span>
												</div>
											</li>
											<li>
												<div class="block-reassurance-item">
													<img src="http://demo.posthemes.com/pos_ecolife_fashion/modules/blockreassurance/img/ic_local_shipping_black_36dp_1x.png"
														alt="Delivery policy (edit with Customer reassurance module)">
													<span class="h6">Delivery policy (edit with Customer
														reassurance module)</span>
												</div>
											</li>
											<li>
												<div class="block-reassurance-item">
													<img src="http://demo.posthemes.com/pos_ecolife_fashion/modules/blockreassurance/img/ic_swap_horiz_black_36dp_1x.png"
														alt="Return policy (edit with Customer reassurance module)">
													<span class="h6">Return policy (edit with Customer
														reassurance module)</span>
												</div>
											</li>
										</ul>
									</div>


								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">

							<div class="tabs ">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#description" role="tab"
											aria-controls="description" aria-selected="true">Description</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#product-details" role="tab"
											aria-controls="product-details">Product Details</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#idTab5">Reviews</a>
									</li>

								</ul>

								<div class="tab-content" id="tab-content">
									<div class="tab-pane fade in active" id="description" role="tabpanel">

										<div class="product-description">
											<ul>
												<li>
													<div>Score extra points when it comes to your sporty look
														with the Juicy Couture™ Juicy Quilted Terry Track
														Jacket.</div>
												</li>
												<li>
													<div>Soft terry construction in a quilted design.</div>
												</li>
												<li>
													<div>Front zipper closure.</div>
												</li>
												<li>
													<div>Brand detail at the back neckline.</div>
												</li>
												<li>
													<div>Long-sleeve coverage.</div>
												</li>
												<li>
													<div>Hand pockets.</div>
												</li>
												<li>
													<div>Straight hemline.</div>
												</li>
												<li>
													<div>61% cotton, 39% polyester;<br />Lining: 58% cotton, 42%
														polyester.</div>
												</li>
												<li>
													<div>Machine wash, tumble dry.</div>
												</li>
												<li>
													<div>Imported.</div>
												</li>
												<li>
													<div>Product measurements were taken using size SM (US 2-4).
														Please note that measurements may vary by size.</div>
												</li>
											</ul>
										</div>

									</div>


									<div class="tab-pane fade" id="product-details"
										data-product="{&quot;id_shop_default&quot;:&quot;1&quot;,&quot;id_manufacturer&quot;:&quot;1&quot;,&quot;id_supplier&quot;:&quot;0&quot;,&quot;reference&quot;:&quot;demo_3&quot;,&quot;is_virtual&quot;:&quot;0&quot;,&quot;delivery_in_stock&quot;:null,&quot;delivery_out_stock&quot;:null,&quot;id_category_default&quot;:&quot;12&quot;,&quot;on_sale&quot;:&quot;0&quot;,&quot;online_only&quot;:&quot;0&quot;,&quot;ecotax&quot;:&quot;0.000000&quot;,&quot;minimal_quantity&quot;:&quot;1&quot;,&quot;low_stock_threshold&quot;:null,&quot;low_stock_alert&quot;:&quot;0&quot;,&quot;price&quot;:&quot;\u20ac34.11&quot;,&quot;unity&quot;:null,&quot;unit_price_ratio&quot;:&quot;0.000000&quot;,&quot;additional_shipping_cost&quot;:&quot;0.00&quot;,&quot;customizable&quot;:&quot;0&quot;,&quot;text_fields&quot;:&quot;0&quot;,&quot;uploadable_files&quot;:&quot;0&quot;,&quot;redirect_type&quot;:&quot;404&quot;,&quot;id_type_redirected&quot;:&quot;0&quot;,&quot;available_for_order&quot;:&quot;1&quot;,&quot;available_date&quot;:null,&quot;show_condition&quot;:&quot;0&quot;,&quot;condition&quot;:&quot;new&quot;,&quot;show_price&quot;:&quot;1&quot;,&quot;indexed&quot;:&quot;1&quot;,&quot;visibility&quot;:&quot;both&quot;,&quot;cache_default_attribute&quot;:&quot;9&quot;,&quot;advanced_stock_management&quot;:&quot;0&quot;,&quot;date_add&quot;:&quot;2018-12-26 08:59:38&quot;,&quot;date_upd&quot;:&quot;2020-08-21 22:58:08&quot;,&quot;pack_stock_type&quot;:&quot;3&quot;,&quot;meta_description&quot;:null,&quot;meta_keywords&quot;:null,&quot;meta_title&quot;:null,&quot;link_rewrite&quot;:&quot;juicy-couture-juicy-quilted-terry-track-jacket&quot;,&quot;name&quot;:&quot;Juicy Couture Juicy Quilted Terry Track Jacket&quot;,&quot;description&quot;:&quot;&lt;ul&gt;&lt;li&gt;\r\n&lt;div&gt;Score extra points when it comes to your sporty look with the Juicy Couture\u2122 Juicy Quilted Terry Track Jacket.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Soft terry construction in a quilted design.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Front zipper closure.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Brand detail at the back neckline.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Long-sleeve coverage.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Hand pockets.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Straight hemline.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;61% cotton, 39% polyester;&lt;br \/&gt;Lining: 58% cotton, 42% polyester.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Machine wash, tumble dry.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Imported.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Product measurements were taken using size SM (US 2-4). Please note that measurements may vary by size.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;\/ul&gt;&quot;,&quot;description_short&quot;:&quot;&lt;ul&gt;&lt;li&gt;\r\n&lt;div&gt;Score extra points when it comes to your sporty look with the Juicy Couture\u2122 Juicy Quilted Terry Track Jacket.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Soft terry construction in a quilted design.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;Front zipper closure.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;li&gt;\r\n&lt;div&gt;61% cotton, 39% polyester;&lt;br \/&gt;Lining: 58% cotton, 42% polyester.&lt;\/div&gt;\r\n&lt;\/li&gt;\r\n&lt;\/ul&gt;&quot;,&quot;available_now&quot;:null,&quot;available_later&quot;:null,&quot;id&quot;:2,&quot;id_product&quot;:&quot;2&quot;,&quot;out_of_stock&quot;:&quot;2&quot;,&quot;new&quot;:&quot;1&quot;,&quot;id_product_attribute&quot;:9,&quot;quantity_wanted&quot;:1,&quot;extraContent&quot;:[],&quot;allow_oosp&quot;:0,&quot;quantity&quot;:1200,&quot;id_image&quot;:&quot;2-369&quot;,&quot;category&quot;:&quot;fashion&quot;,&quot;category_name&quot;:&quot;Fashion&quot;,&quot;link&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/en\/fashion\/2-juicy-couture-juicy-quilted-terry-track-jacket.html&quot;,&quot;attribute_price&quot;:0,&quot;price_tax_exc&quot;:34.1099999999999994315658113919198513031005859375,&quot;price_without_reduction&quot;:35.89999999999999857891452847979962825775146484375,&quot;reduction&quot;:1.7949999999999999289457264239899814128875732421875,&quot;specific_prices&quot;:{&quot;id_specific_price&quot;:&quot;5&quot;,&quot;id_specific_price_rule&quot;:&quot;0&quot;,&quot;id_cart&quot;:&quot;0&quot;,&quot;id_product&quot;:&quot;2&quot;,&quot;id_shop&quot;:&quot;0&quot;,&quot;id_shop_group&quot;:&quot;0&quot;,&quot;id_currency&quot;:&quot;0&quot;,&quot;id_country&quot;:&quot;0&quot;,&quot;id_group&quot;:&quot;0&quot;,&quot;id_customer&quot;:&quot;0&quot;,&quot;id_product_attribute&quot;:&quot;0&quot;,&quot;price&quot;:&quot;-1.000000&quot;,&quot;from_quantity&quot;:&quot;1&quot;,&quot;reduction&quot;:&quot;0.050000&quot;,&quot;reduction_tax&quot;:&quot;1&quot;,&quot;reduction_type&quot;:&quot;percentage&quot;,&quot;from&quot;:&quot;0000-00-00 00:00:00&quot;,&quot;to&quot;:&quot;2025-02-19 00:00:00&quot;,&quot;score&quot;:&quot;32&quot;},&quot;quantity_all_versions&quot;:2100,&quot;features&quot;:[{&quot;name&quot;:&quot;Compositions&quot;,&quot;value&quot;:&quot;Elastane&quot;,&quot;id_feature&quot;:&quot;1&quot;,&quot;position&quot;:&quot;0&quot;},{&quot;name&quot;:&quot;Paper Type&quot;,&quot;value&quot;:&quot;Plain&quot;,&quot;id_feature&quot;:&quot;2&quot;,&quot;position&quot;:&quot;1&quot;},{&quot;name&quot;:&quot;Color&quot;,&quot;value&quot;:&quot;White&quot;,&quot;id_feature&quot;:&quot;3&quot;,&quot;position&quot;:&quot;2&quot;},{&quot;name&quot;:&quot;Size&quot;,&quot;value&quot;:&quot;M&quot;,&quot;id_feature&quot;:&quot;4&quot;,&quot;position&quot;:&quot;3&quot;},{&quot;name&quot;:&quot;Frame Size&quot;,&quot;value&quot;:&quot;60x90cm&quot;,&quot;id_feature&quot;:&quot;5&quot;,&quot;position&quot;:&quot;4&quot;}],&quot;attachments&quot;:[],&quot;virtual&quot;:0,&quot;pack&quot;:0,&quot;packItems&quot;:[],&quot;nopackprice&quot;:0,&quot;customization_required&quot;:false,&quot;attributes&quot;:{&quot;1&quot;:{&quot;id_attribute&quot;:&quot;1&quot;,&quot;id_attribute_group&quot;:&quot;1&quot;,&quot;name&quot;:&quot;S&quot;,&quot;group&quot;:&quot;Size&quot;,&quot;reference&quot;:&quot;demo_3&quot;,&quot;ean13&quot;:null,&quot;isbn&quot;:null,&quot;upc&quot;:null}},&quot;rate&quot;:0,&quot;tax_name&quot;:&quot;&quot;,&quot;ecotax_rate&quot;:0,&quot;unit_price&quot;:&quot;&quot;,&quot;customizations&quot;:{&quot;fields&quot;:[]},&quot;id_customization&quot;:0,&quot;is_customizable&quot;:false,&quot;show_quantities&quot;:true,&quot;quantity_label&quot;:&quot;Items&quot;,&quot;quantity_discounts&quot;:[],&quot;customer_group_discount&quot;:0,&quot;images&quot;:[{&quot;bySize&quot;:{&quot;small_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;cart_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-cart_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:125,&quot;height&quot;:125},&quot;home_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;medium_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-medium_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:452,&quot;height&quot;:452},&quot;large_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800}},&quot;small&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;medium&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;large&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800},&quot;legend&quot;:null,&quot;cover&quot;:&quot;1&quot;,&quot;id_image&quot;:&quot;369&quot;,&quot;position&quot;:&quot;1&quot;,&quot;associatedVariants&quot;:[]},{&quot;bySize&quot;:{&quot;small_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;cart_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-cart_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:125,&quot;height&quot;:125},&quot;home_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;medium_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-medium_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:452,&quot;height&quot;:452},&quot;large_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800}},&quot;small&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;medium&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;large&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/370-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800},&quot;legend&quot;:null,&quot;cover&quot;:null,&quot;id_image&quot;:&quot;370&quot;,&quot;position&quot;:&quot;2&quot;,&quot;associatedVariants&quot;:[]},{&quot;bySize&quot;:{&quot;small_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;cart_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-cart_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:125,&quot;height&quot;:125},&quot;home_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;medium_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-medium_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:452,&quot;height&quot;:452},&quot;large_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800}},&quot;small&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;medium&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;large&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/371-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800},&quot;legend&quot;:null,&quot;cover&quot;:null,&quot;id_image&quot;:&quot;371&quot;,&quot;position&quot;:&quot;3&quot;,&quot;associatedVariants&quot;:[]},{&quot;bySize&quot;:{&quot;small_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;cart_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-cart_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:125,&quot;height&quot;:125},&quot;home_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;medium_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-medium_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:452,&quot;height&quot;:452},&quot;large_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800}},&quot;small&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;medium&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;large&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/372-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800},&quot;legend&quot;:null,&quot;cover&quot;:null,&quot;id_image&quot;:&quot;372&quot;,&quot;position&quot;:&quot;4&quot;,&quot;associatedVariants&quot;:[]}],&quot;cover&quot;:{&quot;bySize&quot;:{&quot;small_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;cart_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-cart_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:125,&quot;height&quot;:125},&quot;home_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;medium_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-medium_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:452,&quot;height&quot;:452},&quot;large_default&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800}},&quot;small&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-small_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:98,&quot;height&quot;:98},&quot;medium&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-home_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:360,&quot;height&quot;:360},&quot;large&quot;:{&quot;url&quot;:&quot;http:\/\/demo.posthemes.com\/pos_ecolife_fashion\/369-large_default\/juicy-couture-juicy-quilted-terry-track-jacket.jpg&quot;,&quot;width&quot;:800,&quot;height&quot;:800},&quot;legend&quot;:null,&quot;cover&quot;:&quot;1&quot;,&quot;id_image&quot;:&quot;369&quot;,&quot;position&quot;:&quot;1&quot;,&quot;associatedVariants&quot;:[]},&quot;has_discount&quot;:true,&quot;discount_type&quot;:&quot;percentage&quot;,&quot;discount_percentage&quot;:&quot;-5%&quot;,&quot;discount_percentage_absolute&quot;:&quot;5%&quot;,&quot;discount_amount&quot;:&quot;\u20ac1.80&quot;,&quot;discount_amount_to_display&quot;:&quot;-\u20ac1.80&quot;,&quot;price_amount&quot;:34.1099999999999994315658113919198513031005859375,&quot;unit_price_full&quot;:&quot;&quot;,&quot;show_availability&quot;:true,&quot;availability_date&quot;:null,&quot;availability_message&quot;:&quot;&quot;,&quot;availability&quot;:&quot;available&quot;}"
										role="tabpanel">

										<div class="product-manufacturer">
											<a href="../brand/1-studio-design.html">
												<img src="http://demo.posthemes.com/pos_ecolife_fashion/img/m/1.jpg"
													class="img img-thumbnail manufacturer-logo" alt="Studio Design">
											</a>
										</div>
										<div class="product-reference">
											<label class="label">Reference </label>
											<span itemprop="sku">demo_3</span>
										</div>



										<div class="product-quantities">
											<label class="label">In stock</label>
											<span data-stock="1200" data-allow-oosp="0">1200 Items</span>
										</div>






										<div class="product-out-of-stock">

										</div>



										<section class="product-features">
											<p class="h6">Data sheet</p>
											<dl class="data-sheet">
												<dt class="name">Compositions</dt>
												<dd class="value">Elastane</dd>
												<dt class="name">Paper Type</dt>
												<dd class="value">Plain</dd>
												<dt class="name">Color</dt>
												<dd class="value">White</dd>
												<dt class="name">Size</dt>
												<dd class="value">M</dd>
												<dt class="name">Frame Size</dt>
												<dd class="value">60x90cm</dd>
											</dl>
										</section>







									</div>

									<div class="tab-pane fade in" id="idTab5">
										<script type="text/javascript">
											var productcomments_controller_url = '../module/productcomments/default.html';
											var confirm_report_message = 'Are you sure that you want to report this comment?';
											var secure_key = '07238e509f7e60493569ab9b49b66794';
											var productcomments_url_rewrite = '1';
											var productcomment_added = 'Your comment has been added!';
											var productcomment_added_moderation = 'Your comment has been submitted and will be available once approved by a moderator.';
											var productcomment_title = 'New comment';
											var productcomment_ok = 'OK';
											var moderation_active = 1;
										</script>
										<div id="product_comments_block_tab">
											<div class="comment clearfix">
												<div class="comment_author">
													<span>Grade&nbsp</span>
													<div class="star_content clearfix">
														<div class="star star_on"></div>
														<div class="star star_on"></div>
														<div class="star star_on"></div>
														<div class="star star_on"></div>
														<div class="star star_on"></div>
													</div>
													<div class="comment_author_infos">
														<strong>posthemes</strong>
														<em>03/18/2019</em>
													</div>
												</div>
												<div class="comment_details">
													<h4 class="title_block">demo</h4>
													<p>OK !</p>
													<ul>
													</ul>
												</div>
											</div>
											<p class="align_center">
												<a id="new_comment_tab_btn"
													class="open-comment-form btn btn-secondary">Write your
													review !</a>
											</p>

										</div>
										<div class="container">
											<!-- Trigger the modal with a button -->
											<!-- Modal -->
											<div class="modal fade" id="myModal" role="dialog">
												<div class="modal-dialog">
													<!-- Modal content-->
													<div class="modal-content">
														<div class="modal-body">
															<div id="new_comment_form">
																<form id="id_new_comment_form" action="#">
																	<h2 class="title">Write your review</h2>
																	<div class="row">
																		<div
																			class="product clearfix col-xs-12 col-sm-6">
																			<img src="http://demo.posthemes.com/pos_ecolife_fashion/369-medium_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
																				alt="Juicy Couture Juicy Quilted Terry Track Jacket" />
																			<div class="product_desc">
																				<p class="product_name">
																					<strong>Juicy Couture Juicy
																						Quilted Terry Track
																						Jacket</strong>
																				</p>
																			</div>
																		</div>
																		<div
																			class="new_comment_form_content col-xs-12 col-sm-6">
																			<h2>Write your review</h2>
																			<div id="new_comment_form_error"
																				class="error"
																				style="display:none;padding:15px 25px">
																				<ul></ul>
																			</div>
																			<ul id="criterions_list">
																				<li>
																					<label>Quality</label>
																					<div class="star_content">
																						<input class="star" type="radio"
																							name="criterion[1]"
																							value="1" />
																						<input class="star" type="radio"
																							name="criterion[1]"
																							value="2" />
																						<input class="star" type="radio"
																							name="criterion[1]"
																							value="3" />
																						<input class="star" type="radio"
																							name="criterion[1]"
																							value="4" />
																						<input class="star" type="radio"
																							name="criterion[1]"
																							value="5"
																							checked="checked" />
																					</div>
																					<div class="clearfix"></div>
																				</li>
																			</ul>
																			<label for="comment_title">Title for
																				your review<sup
																					class="required">*</sup></label>
																			<input id="comment_title" name="title"
																				type="text" value="" />
																			<label for="content">Your review<sup
																					class="required">*</sup></label>
																			<textarea id="content"
																				name="content"></textarea>
																			<label>Your name<sup
																					class="required">*</sup></label>
																			<input id="commentCustomerName"
																				name="customer_name" type="text"
																				value="" />
																			<div id="new_comment_form_footer">
																				<input id="id_product_comment_send"
																					name="id_product" type="hidden"
																					value='2' />
																				<p class="fl required"
																					style="margin-bottom:10px;">
																					<sup>*</sup> Required fields
																				</p>
																				<p class="fr">
																					<button id="submitNewMessage"
																						class="btn btn-secondary"
																						name="submitMessage"
																						type="submit">Send</button>
																					&nbsp;
																					or&nbsp;
																					<button type="button"
																						class="closefb btn btn-secondary"
																						data-dismiss="modal"
																						aria-label="Close">
																						<span
																							aria-hidden="true">Cancel</span>
																					</button>
																				</p>
																				<div class="clearfix"></div>
																			</div>
																		</div>
																	</div>
																</form>
																<!-- /end new_comment_form_content -->
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="modal fade" id="result_comment" role="dialog">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-body">
															<h2>Your comment is submitted</h2>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- End fancybox -->

									</div>



								</div>
							</div>

						</div>
					</div>

					<div class="modal fade js-product-images-modal" id="product-modal">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-body">
									<div class="view-products">
										<figure>
											<img class="js-modal-product-cover product-cover-modal" width="800"
												src="http://demo.posthemes.com/pos_ecolife_fashion/369-large_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												alt="" title="" itemprop="image">
											<figcaption class="image-caption">

												<div id="product-description-short" itemprop="description">
													<ul>
														<li>
															<div>Score extra points when it comes to your sporty
																look with the Juicy Couture™ Juicy Quilted Terry
																Track Jacket.</div>
														</li>
														<li>
															<div>Soft terry construction in a quilted design.
															</div>
														</li>
														<li>
															<div>Front zipper closure.</div>
														</li>
														<li>
															<div>61% cotton, 39% polyester;<br />Lining: 58%
																cotton, 42% polyester.</div>
														</li>
													</ul>
												</div>

											</figcaption>
										</figure>
									</div>
									<aside id="thumbnails_modal">

										<div class="thumb-container">
											<img data-image-large-src="http://demo.posthemes.com/pos_ecolife_fashion/369-large_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												class="thumb js-modal-thumb"
												src="http://demo.posthemes.com/pos_ecolife_fashion/369-home_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												alt="" title="" width="360" itemprop="image">
										</div>
										<div class="thumb-container">
											<img data-image-large-src="http://demo.posthemes.com/pos_ecolife_fashion/370-large_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												class="thumb js-modal-thumb"
												src="http://demo.posthemes.com/pos_ecolife_fashion/370-home_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												alt="" title="" width="360" itemprop="image">
										</div>
										<div class="thumb-container">
											<img data-image-large-src="http://demo.posthemes.com/pos_ecolife_fashion/371-large_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												class="thumb js-modal-thumb"
												src="http://demo.posthemes.com/pos_ecolife_fashion/371-home_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												alt="" title="" width="360" itemprop="image">
										</div>
										<div class="thumb-container">
											<img data-image-large-src="http://demo.posthemes.com/pos_ecolife_fashion/372-large_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												class="thumb js-modal-thumb"
												src="http://demo.posthemes.com/pos_ecolife_fashion/372-home_default/juicy-couture-juicy-quilted-terry-track-jacket.jpg"
												alt="" title="" width="360" itemprop="image">
										</div>

									</aside>
								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->

					<script type="text/javascript">
						$(document).ready(function () {
							$('#product-modal #thumbnails_modal').slick({
								slidesToShow: 1,
								slidesToScroll: 1,
								asNavFor: '.slider-for',
								dots: true,
								focusOnSelect: true
							});

						});
					</script>


					<footer class="page-footer">

						<!-- Footer content -->

					</footer>

					<script>

					</script>
				</section>
				{{/if}}



			</div>



		</div>

		



	</div>


</div>

<footer id="footer">

	<div class="footer-container">
		<div class="footer_top">
			<div class="container">
				<div class="row">

					<div class="col-md-4 links footer_block">
						<div class="footer_about_us">
							<div class="logo_footer"><a href="#"><img
										src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/logo_footer.png"
										alt="" /></a></div>
							<div class="desc_info">
								<p class="txt_info">We are a team of designers and developers that create high
									quality Magento, Prestashop, Opencart.</p>
								<div class="need_help">
									<p>NEED HELP?</p>
									<p class="phone">(+800) 345 678, (+800) 123 456</p>
								</div>
							</div>
						</div>

						<div class="col-footer social_follow ">
							<ul>
								<li class="facebook"><a href="https://www.facebook.com/posthemes"
										target="_blank">Facebook</a></li>
								<li class="twitter"><a href="https://twitter.com/posthemes" target="_blank">Twitter</a>
								</li>
								<li class="youtube"><a href="https://www.youtube.com/user/posthemes"
										target="_blank">YouTube</a></li>
								<li class="googleplus"><a href="https://plus.google.com/100616268634541521861/posts"
										target="_blank">Google +</a></li>
								<li class="instagram"><a href="https://www.instagram.com/posthemes9234"
										target="_blank">Instagram</a></li>
							</ul>
						</div>


					</div>
					<div class="col-md-2 links footer_block">
						<h3 class=" hidden-sm-down">Information</h3>
						<div class="title clearfix hidden-md-up" data-target="#footer_2" data-toggle="collapse">
							<h3>Information</h3>
							<span class="float-xs-right">
								<span class="navbar-toggler collapse-icons">
									<i class="material-icons add">keyboard_arrow_down</i>
									<i class="material-icons remove">keyboard_arrow_up</i>
								</span>
							</span>
						</div>
						<ul id="footer_2" class="collapse footer_list">

							<li>
								<a id="link-cms-page-1-2" class="cms-page-link" href="../content/1-delivery.html"
									title="Our terms and conditions of delivery">
									Delivery
								</a>
							</li>

							<li>
								<a id="link-cms-page-4-2" class="cms-page-link" href="../content/4-about-us.html"
									title="Learn more about us">
									About us
								</a>
							</li>

							<li>
								<a id="link-cms-page-5-2" class="cms-page-link" href="../content/5-secure-payment.html"
									title="Our secure payment method">
									Secure payment
								</a>
							</li>

							<li>
								<a id="link-static-page-contact-2" class="cms-page-link" href="../contact-us.html"
									title="Use our form to contact us">
									Contact us
								</a>
							</li>

							<li>
								<a id="link-static-page-sitemap-2" class="cms-page-link" href="../sitemap.html"
									title="Lost ? Find what your are looking for">
									Sitemap
								</a>
							</li>

							<li>
								<a id="link-static-page-stores-2" class="cms-page-link" href="../stores.html" title="">
									Stores
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-2 links footer_block">
						<h3 class=" hidden-sm-down">Custom Links</h3>
						<div class="title clearfix hidden-md-up" data-target="#footer_3" data-toggle="collapse">
							<h3>Custom Links</h3>
							<span class="float-xs-right">
								<span class="navbar-toggler collapse-icons">
									<i class="material-icons add">keyboard_arrow_down</i>
									<i class="material-icons remove">keyboard_arrow_up</i>
								</span>
							</span>
						</div>
						<ul id="footer_3" class="collapse footer_list">

							<li>
								<a id="link-cms-page-2-3" class="cms-page-link" href="../content/2-legal-notice.html"
									title="Legal notice">
									Legal Notice
								</a>
							</li>

							<li>
								<a id="link-product-page-prices-drop-3" class="cms-page-link" href="../prices-drop.html"
									title="Our special products">
									Prices drop
								</a>
							</li>

							<li>
								<a id="link-product-page-new-products-3" class="cms-page-link"
									href="../new-products.html" title="Our new products">
									New products
								</a>
							</li>

							<li>
								<a id="link-product-page-best-sales-3" class="cms-page-link" href="../best-sales.html"
									title="Our best sales">
									Best sales
								</a>
							</li>

							<li>
								<a id="link-static-page-authentication-3" class="cms-page-link" href="../login.html"
									title="">
									Login
								</a>
							</li>

							<li>
								<a id="link-static-page-my-account-3" class="cms-page-link" href="../loginfd9a.html"
									title="">
									My account
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-4 links footer_block">
						<h3 class=" hidden-sm-down">Newsletter</h3>
						<div class="title clearfix hidden-md-up" data-target="#footer_4" data-toggle="collapse">
							<h3>Newsletter</h3>
							<span class="float-xs-right">
								<span class="navbar-toggler collapse-icons">
									<i class="material-icons add">keyboard_arrow_down</i>
									<i class="material-icons remove">keyboard_arrow_up</i>
								</span>
							</span>
						</div>
						<div id="footer_4" class="collapse footer_list">
							<div class="img_app"><a href="#"><img
										src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/app_store.png"
										alt="" /></a> <a href="#"><img
										src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/google_play.png"
										alt="" /></a></div>
							<div class="ft_newsletter col-footer">
								<p>You may unsubscribe at any moment. For that purpose, please find our contact
									info in the legal notice.</p>
								<div class="col col_form">
									<form action="http://demo.posthemes.com/pos_ecolife_fashion/en/#footer"
										method="post">
										<input class="btn btn-primary" name="submitNewsletter" type="submit"
											value="Sign up">
										<div class="input-wrapper">
											<input name="email" type="email" value="" placeholder="Your email address">
										</div>
										<input type="hidden" name="action" value="0">
										<div class="clearfix"></div>

									</form>
								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="container">
				<div class="row">

					<div class="col-md-4 links footer_block">
						<div class="copyright">Copyright © <a href="http://posthemes.com/">Posthemes</a>. All
							Rights Reserved</div>
					</div>
					<div class="col-md-8 links footer_block">
						<div class="payment"><img
								src="http://demo.posthemes.com/pos_ecolife_fashion/img/cms/payment.png" alt="" /></div>
					</div>


				</div>
			</div>
		</div>
	</div>

</footer>

</main>
<div class="back-top"><a href="#" class="back-top-button"></a></div>

<script type="text/javascript"
	src="http://demo.posthemes.com/pos_ecolife_fashion/themes/theme_ecolife_fashion1/assets/cache/bottom-0c8d8d14.js"></script>





<div id="poscompare-notification" class="">
	<div class="notification-inner">
		<span class="notification-title"><i class="fa fa-check" aria-hidden="true"></i> Product added to
			compare.</span>
	</div>
</div>

<script>function changeImage(element) {
		var main_prodcut_image = document.getElementById('main_product_image');
		main_prodcut_image.src = element.src;
	}
</script>

<script src="/javascripts/zoomxl.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".samll_img").hover(function () {
            $(".big_img").attr('src', $(this).attr('src'));
        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".big_img").imagezoomsl({
            zoomrange: [3, 3]
        });
    })
</script>